<section class="topo">
    <header>
          <p>Thiago de Quadros Pedroso</p>
          <nav>
              <ul>
                  <li><a>Home</a></li>
                  <li><a>Sobre</a></li>
                  <li><a>Projetos</a></li>
                  <li><a>Contato</a></li> 
              </ul>
          </nav>
            <a class="botao">Contato</a> 
    </header>
     

    <main>
         <div class="competencias">
               <p>Criativo</p>
               <div class="bolinha"> </div>
               <p>Determinado</p>
               <div class="bolinha"></div>
               <p>Persistente</p>

          </div>
          <h1>Estudante de Programação</h1>
          <p>Futuro desenvolvedor de jogos
          </p>

          <div class="botoes">
              <a>Meus trabalhos</a>
              <a>Sobre mim</a>

          </div>


    </main>


  </section>
