


    <div class="projects">
        <a href="https://www.google.com/search?q=calculadora&sca_esv=ef7d28e0e6a9921a&sca_upv=1&sxsrf=ADLYWILn-0AF4zsbglYX0H4WYKbw7Cn0WA%3A1719610730522&ei=ai1_Zs25H8Dc1sQPuNCd0Ao&oq=calcuol&gs_lp=Egxnd3Mtd2l6LXNlcnAiB2NhbGN1b2wqAggAMgcQIxixAhgnMhAQABiABBixAxhDGIMBGIoFMgoQABiABBhDGIoFMg0QABiABBixAxiDARgKMg0QABiABBixAxiDARgKMgoQABiABBixAxgKMgoQABiABBixAxgKMg0QABiABBixAxiDARgKMgoQABiABBixAxgKMg0QABiABBixAxiDARgKSPIiUIgJWMMQcAR4AZABAJgBiAGgAfoHqgEDMC44uAEByAEA-AEBmAIMoAK_B6gCFMICBBAAGEfCAgoQABiwAxjWBBhHwgINEAAYgAQYsAMYQxiKBcICBxAjGCcY6gLCAhMQABiABBhDGLQCGIoFGOoC2AEBwgIKECMYgAQYJxiKBcICCxAAGIAEGLEDGIMBwgIOEAAYgAQYsQMYgwEYigXCAhAQLhiABBjRAxjHARgnGIoFwgIIEAAYgAQYsQPCAhEQLhiABBixAxjRAxiDARjHAcICCxAuGIAEGNEDGMcBwgIOEC4YgAQYsQMY0QMYxwHCAgcQABiABBgKmAMJiAYBkAYKugYGCAEQARgBkgcDNS43oAeDQw&sclient=gws-wiz-serp" class="project">
            <img src="/assets/img/Calculadora.png" alt="Calculadora">
            <h3>Calculadora</h3>
            <p>Abre a Calculadara </p>
            
        </a>
        <a routerLink="/piadas" class="project">
            <img src="/assets/img/chuck.jpg" alt="Api Piadas">
            <h3>Api de Piadas kk</h3>
            <p>Piadas </p>
        </a>
        <a href="https://youtu.be/On75sklXon0?si=VSGN-GOR6K6AggoV0" class="project">
            <img src="/assets/img/redstone.png" alt="Redstone">
            <h3>Redstone</h3>
            <p>Tudo Sobre a Redstone</p>
        </a>
        <a href="https://scratch.mit.edu/projects/1024531672" class="project">
            <img src="/assets/img/jogo.png"  alt="Jogo">
            <h3>Jogo</h3>
            <p>Jogo de Enfrentar Boss.</p>
        </a>
        
       
    </div>
    
