header{
    width: 100vw;
    height: 15vh;
    background-color: rgb(191, 252, 198);
    padding:10px;
     
    a{
        font-size: 1.2em;
        background-color: rgb(80, 225, 80);
        padding:10px;
        border-radius: 5px;
        width:150px;
        float:left;

    }
    h1{
        width:calc(100vw - 200px);
        text-align: center;
        padding:0;
        margin:0;
    }

}

.container{
    width:100vw;
    height:85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:50px;
    padding-top: 50px;

    .botoes{
       width:50%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       button{
        width:150px;
        padding:10px;
        background-color: rgb(116, 231, 85);
        color:black;
        border:0;
        border-radius: 5px;
       }
    }

    table{
        width:60%;
        td{
            width:45%;
            height: 200px;
            background-color: rgb(225, 251, 205);
            border: 1px #52e72d solid;
            border-radius: 5px;
            
        }
    }
    

}






