<section class="fundo">
   <article>
       <h1>Sobre mim</h1>
       <p>
        Sou Thiago de Quadros Pedroso, Estou no Ensino Medio, estou fazendo alguns cursos
        de ingles,lógica de programação e desenvolvimento de jogos, tenho algumas experiências 
        com montagem de computador, gosto bastante da área da tecnologia.
       </p>
       <p>
        No meu tempo livre gosto de ler,jogar,editar e montar cubo magico, 
        nesse meio tempo gosto de praticar edição pra ficar cada vez melhor.
       </p>
   </article>
   <figure>
    <img src="/assets/img/pc.jpg">
   </figure>
</section>
